@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

.About{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 300;
  width: 100%;
}
.Photo {
  width: 250px;
  height: 250px;
}
.Social-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}
.Icons-area {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.Icons {
  width: 50px;
  height: 50px;
  margin: 20px 70px 35px 70px;
  color: #282c34;
  transition-duration: 1s;
}
.Icons:hover {
  color: #61DAFB;
  transition-duration: 1s;
}
.Number-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Number {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0px;
}
#Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Area-title {
  display: flex;
  justify-content: center;
  width: 50px;
  border-bottom: 3px solid #282C34;
  margin-bottom: 20px;
}

.About-body {
  display: flex;
  flex-direction: row;
  text-align: right;
  width: 55%;
  margin-top: 80px;
}
#Body p {
  font-size: 25px;
  font-family: 'Zilla Slab', serif;
  color: #282c34;
  
}
#Body h2 {
  font-size: 30px;
  font-family: 'Zilla Slab', serif;
  color: #282c34;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 20px;
}
#Body span {
  font-size: 35px;
}
.Photo-about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.Services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  width: 70%;
}
.Services-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: left;
  margin: 10px;
}
.Services-item p{
  font-size: 20px !important;
  margin: 5px;
}
.Services-item h3{
  font-size: 20px !important;
  margin: 5px;
}
.Item-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Item-flex p{
  font-weight: bold;
  font-size: 20px !important; 
  margin: 0px;
}
.Icon-service {
  width: 25px;
  height: 25px;
  margin: 10px;
}
#Divisor {
  width: 100%;
  height: 10px;
  margin-top: 50px;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(50, 50, 50, 0.19);
  -moz-box-shadow:    0px 6px 5px 0px rgba(50, 50, 50, 0.19);
  box-shadow:         0px 6px 5px 0px rgba(50, 50, 50, 0.19);
}
.Area-depoi {
  width: 70%;
}
.Depoi-item {
  text-align: center;
}
.Depoi-item h3 {
  margin-top: 50px;
  font-size: 25px;
}
.Depoi-item p {
  font-style: italic;
  font-size: 20px !important;
}
.Depoi-item img {
  width: 200px;
  height: 200px;
  margin-top: 50px;
}
#Footer {
  text-align: center;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  bottom: 0px;
  background-color: #282c34;
}
#Footer p {
  font-size: 15px;
  color: #ECECEC;
}