@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

body {
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
   user-select: none;
}
.Mobile-enter {
  display: none;
  position: absolute;
  width: 500px;
  height: 200px;
}
.Home {
  width: 100%;
  height: 100%;
  position: absolute;
}
.Flexbox {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.Content-container {
  height: 100%;
}
.Text-container {
  font-family: 'Zilla Slab', serif;
  margin: 60px;
  white-space: nowrap;
}

.Text-container h1 {
  font-size: 100px;
  font-weight: bold;
  line-height: 80px;
  margin: 10px;
}
.Text-container p, h3 {
  font-size: 50px;
  font-weight: normal;
  margin: 10px;
}
.Social {
  display: flex;
  position: absolute;
  bottom: 30px;
}
.Social-icon {
  width: 30px;
  height: 30px;
  margin: 20px;
  transition-duration: 1s;
}
.Social-icon:hover {
  color: #61DAFB;
  transition-duration: 1s;
}

/*Left content*/
.Left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: #ffffff;
  color: #282c34; 
}
.Left h1 {
  margin-left: 0px;
}
.Linkedin {
  width: 50%;
  justify-content: flex-end;
}
.Linkedin-icon {
  display: block;
  color: #282c34;
  transition-duration: 1s;
}
.Linkedin-icon-dark {
  display: none;
  color: #ECECEC;
}

/*Left animation*/
.Left-animation {
  position: absolute;
  height: 450px;
  width: 350px;
}

/*Right*/
.Right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: #282c34;
  color: #ECECEC;
  position: relative;
}
.Dark-mode-icon {
  width: 30px;
  height: 30px;
  margin: 20px;
  color: #ECECEC;
}
.Dark-mode {
  z-index: 10;
  position: absolute;
  right: 0px;
  top: 0px;
}
#Dark-on {
  display: block;
}
#Dark-off {
  display: none;
}
.Github {
  width: 50%;
}
.Github a {
  margin-bottom: -4px;
}
.Github-icon {
  color: #ECECEC;
  transition-duration: 1s;
}

/*Right animation*/
.Right-animation {
  position: absolute;
  height: 450px;
  width: 350px;
  right: 0px;
}
.Suport-right {
  display: none;
  position: absolute;
  width: 600px;
  height: 300px;
  margin-top: 70%;
  margin-left: -110%;
}

@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .Flexbox {
    display: flex;
    flex-direction: column;
  }
  .Content-container {
    height: 50%;
  }
  .Left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    color: #282c34; 
    width: 100% !important;
  }
  .Right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    background-color: #282c34;
    color: #ECECEC;
  }
  .Social {
    display: none;
  }
  .Dark-mode-icon {
    color: #282c34;
  }
  .Left-animation {
    display: none;
  }
  .Right-animation {
    display: none;
  }
  .Mobile-enter {
    display: block;
  }
}
@media (max-width: 600px) {
  .Text-container h1 {
    font-size: 70px;
    font-weight: bold;
    line-height: 50px;
    margin: 0px;
  }
  .Text-container p, h3 {
    font-size: 35px;
    font-weight: normal;
    margin: 3px 3px 3px 0px;
  }
}