@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

body {
  overflow-x: hidden;
}
.Home {
  width: 100%;
  height: 100%;
  position: absolute;
}
.Flexbox {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.Content-container {
  height: 100%;
}
.Text-container {
  font-family: 'Zilla Slab', serif;
  margin: 60px;
  white-space: nowrap;
}

.Text-container h1 {
  font-size: 100px;
  font-weight: bold;
  line-height: 80px;
  margin: 10px;
}
.Text-container p, h3 {
  font-size: 50px;
  font-weight: normal;
  margin: 10px;
}
.Social {
  display: flex;
  position: absolute;
  bottom: 30px;
}
.Social-icon {
  width: 30px;
  height: 30px;
  margin: 20px;
  transition-duration: 1s;
}
.Social-icon:hover {
  color: #61DAFB;
  transition-duration: 1s;
}

/*Left content*/
.Left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: #ffffff;
  color: #282c34; 
}
.Left h1 {
  margin-left: 0px;
}
.Linkedin {
  width: 50%;
  justify-content: flex-end;
}
.Linkedin-icon {
  display: block;
  color: #282c34;
  transition-duration: 1s;
}
.Linkedin-icon-dark {
  display: none;
  color: #ECECEC;
}

/*Left animation*/
.Left-animation {
  position: absolute;
  height: 450px;
  width: 350px;
}
.More-left {
  display: block;
  position: absolute;
  transform: rotateY(180deg);
  margin-top: 110%;
  margin-left: -40%;
  opacity: 0;
  width: 40px;
  height: 40px;
  color: #282c34;
  transition-duration: 1s;
}
.More-left:hover {
  color: #61DAFB;
  transition-duration: 1s;
}
.More-left-dark {
  display: none;
  position: absolute;
  margin-top: 110%;
  margin-left: -40%;
  opacity: 0;
  width: 40px;
  height: 40px;
  color: #ECECEC;
  transition-duration: 1s;
}
.More-left-dark:hover {
  color: #61DAFB;
  transition-duration: 1s;
}

/*Right*/
.Right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: #282c34;
  color: #ECECEC;
}
.Dark-mode-icon {
  width: 30px;
  height: 30px;
  margin: 20px;
  color: #ECECEC;
}
.Dark-mode {
  z-index: 10;
  position: absolute;
  right: 0px;
  top: 0px;
}
#Dark-on {
  display: block;
}
#Dark-off {
  display: none;
}
.Github {
  width: 50%;
}
.Github a {
  margin-bottom: -4px;
}
.Github-icon {
  color: #ECECEC;
  transition-duration: 1s;
}

/*Right animation*/
.Right-animation {
  position: absolute;
  height: 450px;
  width: 350px;
  right: 0px;
}
.More-right{
  display: block;
  position: absolute;
  transform: rotateY(180deg);
  margin-top: 110%;
  margin-left: 72%;
  opacity: 0;
  transition-duration: 1s;
  width: 40px;
  height: 40px;
  z-index: 300;
  color: #ECECEC;
}
.More-right:hover {
  opacity: 1;
  color: #61DAFB;
  transition-duration: 1s;
}
.Suport-right {
  display: none;
  position: absolute;
  width: 600px;
  height: 300px;
  margin-top: 70%;
  margin-left: -110%;
}