@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

.Portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#Header-portfolio {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 300;
  width: 100%;
}
#Body-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#Footer-portfolio {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  bottom: 0px;
  background-color: #282c34;
}
#Footer-portfolio p {
  font-size: 15px;
  color: #ECECEC;
}